:global(a) {
  text-decoration: none;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: #2c2c2c;
}

.contactItem:hover {
  background-color: #383838;
  cursor: pointer;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.contactName {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  flex-grow: 1;
}

.contactConection {
  font-size: 12px;
  color: #888;
  display: flex;
  margin-left: auto;
  text-align: right;
}
